.watcher-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: grey;

    &:hover {
        color: #fff;

    }


    .watcher-name {
        font-size: 1.3vw;
        line-height: 1.2em;
        margin: 0.6em 0;
    }

    img {
        height: 10vw;
        max-height: 200px;
        max-width: 200px;
        min-height: 84px;
        min-width: 84px;
        width: 10vw;
        border: 0.2em solid transparent;
        border-radius: 4px;

        &:hover {
            border-color: #e5e5e5;
        }
    }
}